<div class="wrap"> 

	<form method="post" action="">

		<fieldset>

			<legend>Ingresar firma</legend>
			<table>
			<tr><td><label for="P" accesskey="s">Tipo:</td><td></label> <input id="P" type="radio" name="tipo" value="P" checked>Persona <input id="A" type="radio" name="tipo" value="A">Associació/Col.leciu</td></tr>
			<tr><td><label for="nom" accesskey="s">Nom i cognoms:</td><td></label> <input type='text' id='nom'  name='nom'  /></td></tr>
			<tr><td><label for="correu" accesskey="s">Correu:</label></td><td> <input type='text' id='correu'  name='correu'  /></td></tr>
			<tr><td><label for="dni" accesskey="s">DNI/NIE/CIF:</label></td><td> <input type='text' id='dni'  name='dni'  /></td></tr>
			<tr><td><label for="adreca" accesskey="s">Adreça:</label></td><td> <input type='text' id='adreca'  name='adreca'  /></td></tr>
			<tr><td><label for="poblacio" accesskey="s">Població:</label></td><td><input type='text' id='poblacio'  name='poblacio'  /></td></tr>
			<tr><td><label for="cp" accesskey="s">Codi Postal:</label></td><td><input type='text' id='cp'  name='cp'  /></td></tr>
			<tr><td><label for="info" accesskey="s">Vols rebre informació?</label></td><td><input type="radio" name="info" value="0" checked>No <input type="radio" name="info" value="1">Sí</td></tr>


			<tr><td><input type='submit' name='firmas' value='enviar' /></td></tr>

			</table>
		</fieldset>

	</form>

</div>
